input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

a {
    color: rgb(90, 15, 67);
    text-decoration: underline;
}

a:hover {
    color: rgb(90, 15, 67); 
}

.project-info {
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 12px;
}

.project-info a {
    font-size: 12px;
}